$themeColor: #4a494b;
$themeFont: "Karla", sans-serif;
$secFont: "Karla", sans-serif;
.rootcontainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    .product{
        display: flex;
        flex-direction: column;
        background-color: #f1f1f1;
        width: 300px;
        height: 400px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        border-radius: 15px;
        margin-top: 2rem;
        transition: all .5s;
        padding: 10px;
        
        a{
            font-size: 1.3em;
            font-weight: 700;
            color: white;
            justify-items: center;
            text-transform: uppercase;
            z-index: 3;
            position: static;
            transition: all .5s;
            background-color: #494949;
            margin: .3em 0 0 0;
            border-radius: 15px;
            padding:.3em 1em .3em 1em ;
            cursor: pointer;
        }
        img{
            width: 10em;
            height: auto;
            padding-bottom: 30px;
        }
        h1{
            color: #686669;
            font-size: 25px;
            transition: all .5s;
            font-weight: 700;
        }
       span{
           padding-top: 6px;
           font-size: 15px;
           transition: all .5s;
           cursor: crosshair;
       }
    }
    .product:hover{
        background-color: #4a494b;
        
        a{
            color: #4a494b;
            background-color: white;
            
        }
        h1{
            color: #ffff;
        }
        span{
            color: #f1f1f1;
        }
    }
}